<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sery.labmon.dao.PatientMapper">
    <!--病人信息结果集-->
    <resultMap id="patientInfo" type="com.sery.labmon.model.Patient">
        <id column="id" property="patientId" jdbcType="INTEGER"></id>
        <result column="medical_record" property="medicalRecord" jdbcType="VARCHAR"></result>
        <result column="female_name" property="femaleName" jdbcType="VARCHAR"></result>
        <result column="male_name" property="maleName" jdbcType="VARCHAR"></result>
        <result column="female_id_num" property="femaleIdNum" jdbcType="VARCHAR"></result>
        <result column="male_id_num" property="maleIdNum" jdbcType="VARCHAR"></result>
        <result column="address" property="address" jdbcType="VARCHAR"></result>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="remark" property="remark" jdbcType="VARCHAR"></result>
    </resultMap>


    <!--查询所有的病人信息-->
    <select id="selectAllPatient" resultMap="patientInfo">
        SELECT * FROM tb_patient
        ORDER BY id DESC
    </select>

    <!--根据病历号和女方姓名查找一条病人记录-->
    <select id="selectPatient" resultMap="patientInfo" parameterType="java.util.Map">
        SELECT *
        FROM tb_patient
        WHERE
        medical_record = #{medicalRecord,jdbcType=VARCHAR} AND female_name = #{femaleName,jdbcType=VARCHAR}
    </select>

    <select id="selectPatientById" parameterType="java.lang.Integer" resultMap="patientInfo">
        SELECT * FROM
        tb_patient
        WHERE
        id = #{patientId,jdbcType=INTEGER}
    </select>

    <!--更新一条病人信息-->
    <update id="updatePatient" parameterType="com.sery.labmon.model.Patient">
        UPDATE tb_patient
        <set>
            <if test="medicalRecord != null">
                medical_record = #{medicalRecord,jdbcType=VARCHAR},
            </if>
            <if test="femaleName != null">
                female_name = #{femaleName,jdbcType=VARCHAR},
            </if>
            <if test="maleName != null">
                male_name = #{maleName,jdbcType=VARCHAR},
            </if>
            <if test="femaleIdNum != null">
                female_id_num = #{femaleIdNum,jdbcType=VARCHAR},
            </if>
            <if test="maleIdNum != null">
                male_id_num = #{maleIdNum,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE id = #{patientId,jdbcType=INTEGER}
    </update>


</mapper>