<?xml version = "1.0" encoding = "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTO Mapper 3.0"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sery.labmon.dao.RoomMapper">
    <resultMap id="roomInfo" type="com.sery.labmon.model.Rooms">
        <id column="RoomID" property="roomId" jdbcType="INTEGER"></id>
        <result column="Name" property="name" jdbcType="VARCHAR"></result>
        <result column="Description" property="description" jdbcType="VARCHAR"></result>
        <result column="EquipmentPositionDic" property="equipmentPositionDic" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getAllRooms" resultMap="roomInfo">
        SELECT * FROM Rooms
    </select>

    <select id="getRoomByRoomId" parameterType="java.lang.Integer" resultMap="roomInfo">
        SELECT *
        FROM Rooms
        WHERE RoomID = #{roomId,jdbcType=INTEGER}
    </select>

</mapper>